@page
@using µMedlogr.core.Services
@model µMedlogr.Pages.EventLogModel
@{
}

<div class="container" id="eventlog" style="align-content:center; display:flex; justify-content:center">
    @foreach (var entry in Model.EventHistory) {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@entry.Title</h5>
                <p class="card-text">@entry.Description</p>
                @if (entry.AdministeredMedicines.Count > 0) {
                    <p>Medicinerade med</p>
                }
                @foreach (var drug in entry.AdministeredMedicines) {
                    <p> <b>Namn</b> @drug.Name  <b>Aktiv substans</b> @drug.ActiveSubstance </p>
                }
            </div>
            <div class="card-footer text-muted">
                <p>
                    @entry.NotedAt.ToString("G")
                </p>
            </div>
        </div>
    }
</div>
<div id="pagecontrol" style="align-content:center; display:flex; justify-content:center">
    <a class="btn btn-success" id="eventbutton" value="">Logga en händelse </a>
</div>

<div id="AddEventModal" class="modal fade">
    <partial name="Shared/AddEventModal" model="new Shared.AddEventModalModel(Model.HttpContext.RequestServices.GetService<DrugService>()!){HealthRecordId=Model.HealthRecordId}"></partial>
</div>

@section Scripts {
    <script type="text/javascript">
        $('#eventbutton').click((event) => {
            $('#AddEventModal').modal('show')
        });
    </script>
}
