@page
@model µMedlogr.Pages.PersonPageModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/personpage.css" />
</head>
<body>

    <div class="text-center">
        @if (Model.MyUser is not null)
        {
            <h4>Lägg till person</h4>
            <form method="post" enctype="multipart/form-data" class="person-page-form">
                <input asp-for="Person.NickName" class="form-control register-input-100" placeholder="Fyll i namn här." />
                @if (Model.AllergiesList is not null && Model.AllergiesList.Any())
                {
                    <div>
                        <br />
                        <h5>Lägg till allergi</h5>
                        @foreach (var allergi in Model.AllergiesList)
                        {
                            <input type="checkbox" id="@allergi" name="selectedAllergies" value="@allergi">
                            <label for="@allergi">@allergi</label>
                        }
                    </div>
                }
                <input type="date" id="selectedDate" name="SelectedDate" />
                <br />
                <button id="toggleButton">Visa/Dölj Vikt</button>
                <div id="weightDiv" class="hidden">
                    <input asp-for="Person.WeightInKg" type="number" min="0" max="250" placeholder="Ange din vikt" class="register-input-100" />
                </div>
                <br />
                <label>
                    <input asp-for="IsPerson" type="radio" value="true" />
                    Lägga till mig själv.
                </label>

                <label>
                    <input asp-for="IsPerson" type="radio" value="false" checked />
                    Lägga till någon jag har hand om.
                </label>
                <br />
                <button type="submit" class="btn btn-primary submit-button" asp-page-handler="SavePerson">Spara Person</button>
            </form>
            <div class="peopleincare">
                @if (Model.PeopleInCareOf.Count > 0)
                {
                    @foreach (var peopleincare in Model.PeopleInCareOf)
                    {
                        <p>Namn: @peopleincare.NickName</p>
                        <h4>Allergier</h4>
                        @foreach (var allergy in peopleincare.Allergies)
                        {
                            <a>@allergy  </a>
                        }
                        <br />
                    }
                }
            </div>
        }
        else
        {
            <p>Logga in för att lägga till personer!</p>
        }
    </div>
    <script src="~/js/datepersonpage.js"></script>
    <script src="~/js/hidediv.js"></script>
</body>
</html>